.vscode/launch.json
.DS_Store
.vscode/settings.json
viralrecall/__pycache__/
hmm/
tests/__pycache__
.pytest_cache
.ruff_cache
build
tests/test_data
.gitignore
VR_hmm_database.tar.gz
viralrecall.egg-info/*
VR_hmm_database/*